<div class="header" ng-include="'views/partials/header.html'">
</div>
<div class='single-page'>

    <div class='container'>
        <p style="margin-bottom: 0.19in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: x-large;"><span lang="fr-FR"><strong>REGLES GENERALES DE DIFFUSION</strong></span></span>
            </span>
            </span>
        </p>
        <p style="margin-bottom: 0.14in; line-height: 115%;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><span style="background: #fafafa;">Voici quelques points &agrave; retenir lorsque vous d&eacute;posez une article :</span></span>
            </span>
            </span>
            </span>
        </p>
        <p style="margin-bottom: 0.14in; line-height: 115%;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><span style="background: #fafafa;">Toute article &agrave; caract&egrave;re publicitaire est interdite.</span></span>
            </span>
            </span>
            </span>
        </p>
        <p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #fafafa;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Il est interdit de d&eacute;poser une article :</span></span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <ul>
            <li style="margin-bottom: 0.14in; line-height: 115%;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><span style="background: #fafafa;">Exclusivement r&eacute;dig&eacute;e en termes &eacute;trangers. Les articles doivent &ecirc;tre r&eacute;dig&eacute;es en fran&ccedil;ais.</span></span>
                </span>
                </span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Comportant des termes ou des descriptions sans lien avec le contenu propos&eacute;.</span></span>
                </span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Dirigeant directement ou indirectement vers un site autre que le n&ocirc;tre.</span></span>
                </span>
                </span>
            </li>
        </ul>
        <p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #fafafa;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><em>Produits et services non autoris&eacute;s :</em></span></span>
            </span>
            </span>
            </strong>
            </span>
            </span>
        </p>
        <p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #fafafa;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Nous vous invitons &agrave; prendre connaissance des produits/biens/services interdits sur notre site :</span></span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <ul>
            <li style="margin-bottom: 0in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Tabac, drogue et objets associ&eacute;s, substances dangereuses et illicites.</span></span>
                </span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Armes blanches de combat ou d&rsquo;autod&eacute;fense, armes &agrave; feu, explosifs, pi&egrave;ges de chasse.</span></span>
                </span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Contenu r&eacute;serv&eacute; aux adultes.</span></span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Avis de recherche d&rsquo;une personne.</span></span>
                </span>
                </span>
            </li>
        </ul>
        <p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #fafafa;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><em>Photographies non autoris&eacute;es</em></span></span>
            </span>
            </strong>
            </span>
            </span>
        </p>
        <p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Les photographies ins&eacute;r&eacute;es doivent repr&eacute;senter le bien &agrave; vendre et ne peuvent &ecirc;tre utilis&eacute;es pour illustrer plusieurs articles.</span></span>
            </span>
            </span>
        </p>
        <p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Il est interdit d&rsquo;ins&eacute;rer des photos comportant :</span></span>
            </span>
            </span>
        </p>
        <ul>
            <li style="margin-bottom: 0in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Enfants mineurs reconnaissables.</span></span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Logos (&agrave; l'exception des cat&eacute;gories d'articles Emploi et Services).</span></span>
                </span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #fafafa;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Lien vers un site internet.</span></span>
                </span>
                </span>
            </li>
        </ul>
    </div>
</div>

<footer ng-include="'views/partials/footer.html'">
</footer>
