<div class="header" ng-include="'views/partials/header.html'">
</div>
<div class='single-page'>

    <div class='container'>
        <h1 style="margin-bottom: 0.14in; line-height: 115%; background: #ffffff;"><span style="color: #1a1a1a; font-size: 22pt;"><span style="font-family: Arial, serif;"><span lang="fr-FR"><span style="font-weight: normal;">Service de marketplace</span></span>
            </span>
            </span>
        </h1>
        <p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><span style="font-weight: normal;">Comment publier une article&nbsp;?</span></span>
            </span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><span style="background: #ffffff;">Pour publier une article, rien de plus facile. Cliquez sur &laquo; d&eacute;poser une article &raquo;, puis renseignez le questionnaire en respectant bien les informations qui y sont mentionn&eacute;es. La r&eacute;gion &agrave; choisir est celle dans laquelle votre bien est &agrave; vendre. Ne faites pas d'erreur sur votre adresse email et votre num&eacute;ro de t&eacute;l&eacute;phone, qui permettront aux internautes int&eacute;ress&eacute;s de vous joindre.</span></span>
            </span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">L'acc&egrave;s &agrave; l'espace "articles enregistr&eacute;es" :</span></span>
            </span>
            </span>
        </p>
        <ul>
            <li style="margin-bottom: 0in; line-height: 100%; background: #ffffff;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;">La sauvegarde d'articles.</span></span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #ffffff;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;">La recherche automatique d'articles.</span></span>
                </span>
            </li>
        </ul>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">La gestion d'article via l'onglet "Mes articles" du Compte Personnel :</span></span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <ul>
            <li style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><span style="background: #ffffff;">La suppression d'article.</span></span>
                </span>
                </span>
                </span>
                </span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #ffffff;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">La modification d'article.</span></span>
                </span>
                </span>
            </li>
            <li style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">L'acc&egrave;s et la gestion du Compte Personnel :</span></span>
                </span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #ffffff;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">la gestion (actualisation, modification etc.), &agrave; tout moment, des informations personnelles renseign&eacute;es lors de la cr&eacute;ation du Compte Personnel :&nbsp;</span></span>
                </span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #ffffff;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Informations obligatoires : nom, pr&eacute;nom, email, mot de passe&nbsp;</span></span>
                </span>
                </span>
            </li>
            <li style="margin-bottom: 0in; line-height: 100%; background: #ffffff;"><span style="color: #1a1a1a;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Informations facultatives : civilit&eacute;, &acirc;ge, centre d'int&eacute;r&ecirc;t, secteur d'activit&eacute;, num&eacute;ro de t&eacute;l&eacute;phone etc.</span></span>
                </span>
                </span>
            </li>
        </ul>
    </div>
</div>

<footer ng-include="'views/partials/footer.html'">
</footer>
